body {
    font-family: Helvetica-light, serif;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
}

h1 {
    font-size: 14px;   
}
#charts {
    width: 100%;
    height: 100%;
}


g text {
    font-family: monospace;  
    font-size: 0.8em;
    text-transform: none;
}
